daemon off;
#Heroku dynos have at least 4 cores.
worker_processes <%= ENV['NGINX_WORKERS'] || 4 %>;

events {
    use epoll;
    accept_mutex on;
    worker_connections 1024;
}

http {
    gzip on;
    gzip_comp_level 2;
    gzip_min_length 512;

    proxy_cache_path tmp/nginx levels=1:2 keys_zone=assets_cache:100m inactive=120m;
    proxy_cache_key "$scheme$request_method$host$request_uri";

    #server_tokens off;

    log_format l2met 'measure#nginx.service=$request_time request_id=$http_x_request_id';
    access_log logs/nginx/access.log l2met;
    error_log logs/nginx/error.log;

    #include mime.types;
    #default_type application/octet-stream;
    #sendfile on;

    #Must read the body in 5 seconds.
    client_body_timeout 5;
    client_max_body_size 30M;

    upstream app_server {
        server unix:/tmp/nginx.socket fail_timeout=0;
    }


    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off; # Requires nginx >= 1.5.9
    ssl_stapling on; # Requires nginx >= 1.3.7
    ssl_stapling_verify on; # Requires nginx => 1.3.7
    ssl_dhparam /app/config/certificates/dhparams.pem;



    server {
        listen <%= ENV["PORT"] %>;
        server_name monestro.com wwww.monestro.com;
        keepalive_timeout 5;

        location /assets/ {
            proxy_redirect off;
            proxy_pass_header Cookie;
            proxy_ignore_headers Set-Cookie;
            proxy_hide_header Set-Cookie;

            proxy_cache assets_cache;
            proxy_cache_valid 200 302  120m;
            proxy_cache_valid 404      1m;

            proxy_pass http://app_server;
        }

        location / {
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_pass http://app_server;
        }
    }

    server {
      listen <%= ENV["PORT"] %>;
      server_name         id-card.monestro.com;
      keepalive_timeout   70;

      ssl_client_certificate /app/config/certificates/esteid-all.crt;
      ssl_verify_client on;
      ssl_session_cache off;
      ssl_verify_depth 2;

      # Enabled ciphers
      # ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384";
      ssl_prefer_server_ciphers on;

      location = / {
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  Host $http_host;
        proxy_set_header  X-Forwarded-Proto https;

        proxy_set_header  SSL-CIPHER $ssl_cipher;
        proxy_set_header  SSL_CLIENT_CERT $ssl_client_cert;
        proxy_set_header  SSL_CLIENT_SERIAL $ssl_client_serial;
        proxy_set_header  SSL_CLIENT_S_DN $ssl_client_s_dn;
        proxy_set_header  SSL_CLIENT_I_DN $ssl_client_i_dn;
        proxy_set_header  SSL_CLIENT_VERIFY $ssl_client_verify;
        proxy_set_header  SSL_PROTOCOL $ssl_protocol;
        proxy_set_header  SSL_SESSION_ID $ssl_session_id;

        proxy_redirect    off;
        proxy_pass        http://app_server;

      }
    }
}
